/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: "Roboto";
  font-size: 30px;
}
.card-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 80px;
  width: 80px;
}

.heading {
  font-family: "Roboto";
  font-size: 20px;
  color: #0f172a;
}

.paragraph {
  font-family: "Roboto";
  font-size: 16px;
  color: #1e293b;
}
